<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <%
    var title = page.title;

    if (is_archive()){
    title = 'Archives';

    if (is_month()){
    title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
    title += ': ' + page.year;
    }
    } else if (is_category()){
    title = 'Category: ' + page.category;
    } else if (is_tag()){
    title = 'Tag: ' + page.tag;
    }
    %>
    <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus}) %>
    <% if (theme.rss){ %>
    <link rel="alternative" href="<%- theme.rss %>" title="<%= config.title %>" type="application/atom+xml">
    <% } %>
    <% if (theme.favicon){ %>
    <link href="<%- config.root %>" rel="shortcut icon" type="image/x-icon">
    <% } %>
    <%- css('css/style') %>
    <link href="https://cdn.bootcss.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <%- partial('google-analytics') %>
</head>